In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('vaccinations-by-manufacturer.csv')
df.head()

  location        date          vaccine  total_vaccinations
0    Chile  2020-12-24  Pfizer/BioNTech                 420
1    Chile  2020-12-25  Pfizer/BioNTech                5198
2    Chile  2020-12-26  Pfizer/BioNTech                8338
3    Chile  2020-12-27  Pfizer/BioNTech                8649
4    Chile  2020-12-28  Pfizer/BioNTech                8649

In [3]:
df.describe()

       total_vaccinations
count        2.266000e+03
mean         3.902910e+06
std          1.269821e+07
min          0.000000e+00
25%          1.071675e+04
50%          1.060920e+05
75%          1.172238e+06
max          9.658678e+07

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266 entries, 0 to 2265
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            2266 non-null   object
 1   date                2266 non-null   object
 2   vaccine             2266 non-null   object
 3   total_vaccinations  2266 non-null   int64
dtypes: int64(1), object(3)
memory usage: 70.9+ KB

In [6]:
df['location']

0               Chile
1               Chile
2               Chile
3               Chile
4               Chile
            ...
2261    United States
2262    United States
2263    United States
2264    United States
2265    United States
Name: location, Length: 2266, dtype: object

In [7]:
df['date']

0       2020-12-24
1       2020-12-25
2       2020-12-26
3       2020-12-27
4       2020-12-28
           ...
2261    2021-04-10
2262    2021-04-10
2263    2021-04-11
2264    2021-04-11
2265    2021-04-11
Name: date, Length: 2266, dtype: object

In [8]:
df['vaccine']

0       Pfizer/BioNTech
1       Pfizer/BioNTech
2       Pfizer/BioNTech
3       Pfizer/BioNTech
4       Pfizer/BioNTech
             ...
2261            Moderna
2262    Pfizer/BioNTech
2263    Johnson&Johnson
2264            Moderna
2265    Pfizer/BioNTech
Name: vaccine, Length: 2266, dtype: object

In [9]:
df['total_vaccinations']

0            420
1           5198
2           8338
3           8649
4           8649
          ...
2261    82622178
2262    94715143
2263     6453740
2264    83847244
2265    96586783
Name: total_vaccinations, Length: 2266, dtype: int64

In [5]:
df.drop_duplicates( subset=['location', 'vaccine'], keep='last', inplace=True)

In [6]:
df.head()

    location        date             vaccine  total_vaccinations
297    Chile  2021-05-27  Oxford/AstraZeneca              193373
298    Chile  2021-05-27     Pfizer/BioNTech             3225952
299    Chile  2021-05-27             Sinovac            14803159
728  Czechia  2021-05-28     Johnson&Johnson               38018
729  Czechia  2021-05-28             Moderna              483514

In [9]:
df.loc[df['vaccine']=="Oxford/AstraZeneca"]

       location        date             vaccine  total_vaccinations
297       Chile  2021-05-27  Oxford/AstraZeneca              193373
730     Czechia  2021-05-28  Oxford/AstraZeneca              516648
1162     France  2021-05-27  Oxford/AstraZeneca             4870556
1774    Germany  2021-05-28  Oxford/AstraZeneca             9072385
2374    Iceland  2021-05-27  Oxford/AstraZeneca               67671
2822      Italy  2021-05-28  Oxford/AstraZeneca             6926397
3209     Latvia  2021-05-28  Oxford/AstraZeneca              191126
3650  Lithuania  2021-05-28  Oxford/AstraZeneca              321067
4039    Romania  2021-05-28  Oxford/AstraZeneca              782802

In [12]:
df.loc[df['location'] == "Greece"]

Empty DataFrame
Columns: [location, date, vaccine, total_vaccinations]
Index: []

In [13]:
df['location'].value_counts()

Germany          4
Latvia           4
Czechia          4
Lithuania        4
Iceland          4
Italy            4
Romania          4
France           4
United States    3
Chile            3
Switzerland      2
Name: location, dtype: int64