In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('population_2020.csv')
df.head()

           entity iso_code  year  population
0     Afghanistan      AFG  2020    38928341
1         Albania      ALB  2020     2877800
2         Algeria      DZA  2020    43851043
3  American Samoa      ASM  2020       55197
4         Andorra      AND  2020       77265

In [4]:
df.describe()

         year    population
count   248.0  2.480000e+02
mean   2020.0  1.886305e+08
std       0.0  8.503021e+08
min    2020.0  8.090000e+02
25%    2020.0  6.751690e+05
50%    2020.0  7.040488e+06
75%    2020.0  3.153308e+07
max    2020.0  7.794799e+09

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   entity      248 non-null    object
 1   iso_code    237 non-null    object
 2   year        248 non-null    int64
 3   population  248 non-null    int64
dtypes: int64(2), object(2)
memory usage: 7.9+ KB

In [7]:
df.isnull().sum()

entity         0
iso_code      11
year           0
population     0
dtype: int64

In [8]:
df['iso_code']

0           AFG
1           ALB
2           DZA
3           ASM
4           AND
         ...
243    OWID_AFR
244    OWID_EUR
245    OWID_SAM
246    OWID_OCE
247    OWID_EUN
Name: iso_code, Length: 248, dtype: object

In [11]:
df['entity']

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
243            Africa
244            Europe
245     South America
246           Oceania
247    European Union
Name: entity, Length: 248, dtype: object

In [12]:
df['year']

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
243    2020
244    2020
245    2020
246    2020
247    2020
Name: year, Length: 248, dtype: int64

In [14]:
print(2021 in df['year'])

False

In [20]:
df['population'].argmax()

235

In [21]:
df.iloc[235]

entity             World
iso_code        OWID_WRL
year                2020
population    7794798729
Name: 235, dtype: object

In [23]:
df['population'].max()

7794798729

In [34]:
df['population'].argmin()

231

In [35]:
df.iloc[231]

entity        Vatican
iso_code          VAT
year             2020
population        809
Name: 231, dtype: object